@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  &.default {
    margin-bottom: $spacing-8;
  }

  &.centered {
    text-align: center;
    margin-bottom: $spacing-8;

    h1 {
      margin-bottom: $spacing-2;
    }
  }
}
